Leitura de dados
<https://raw.githubusercontent.com/VaniaMuniz/dados/master/dataRevisao.csv>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/VaniaMuniz/dados/master/dataRevisao_xxxx.csv', delimiter=';')

In [ ]:
data.head()

   n  Idade    Sexo  ...  Duracao            Proposito Risco
0  0     67    male  ...        6             radio/TV  good
1  1     22  female  ...       48             radio/TV   bad
2  2     49    male  ...       12            education  good
3  3     45    male  ...       42  furniture/equipment  good
4  4     53    male  ...       24                  car   bad

[5 rows x 11 columns]

In [ ]:
data.shape

(1000, 11)

In [ ]:
data[['Quantidade de credito']]

     Quantidade de credito
0                     1169
1                     5951
2                     2096
3                     7882
4                     4870
..                     ...
995                   1736
996                   3857
997                    804
998                   1845
999                   4576

[1000 rows x 1 columns]

In [ ]:
data.sort_values('Quantidade de credito')

       n  Idade    Sexo  ...  Duracao            Proposito Risco
725  725     41  female  ...        6                  car  good
309  309     22    male  ...        9                  car  good
177  177     52    male  ...        6             radio/TV  good
157  157     45    male  ...       12            education  good
458  458     27  female  ...        6  domestic appliances  good
..   ...    ...     ...  ...      ...                  ...   ...
637  637     21    male  ...       60             radio/TV  good
887  887     23    male  ...       48             business   bad
818  818     43    male  ...       36      vacation/others  good
95    95     58    male  ...       54             business   bad
915  915     32  female  ...       48      vacation/others   bad

[1000 rows x 11 columns]

In [ ]:
data.sort_values('Quantidade de credito', ascending=False).head(3)

       n  Idade    Sexo  ...  Duracao        Proposito Risco
915  915     32  female  ...       48  vacation/others   bad
95    95     58    male  ...       54         business   bad
818  818     43    male  ...       36  vacation/others  good

[3 rows x 11 columns]